*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.github/agents
.cxx
local.properties
key.jks
key_base64.txt
/app/src/main/cpp/
/app/.project
ref
.planning
.kotlin
.env
google-services.json
app/google-services.json
.claude
docs
